.dashboard-container {
  position: relative;
  background-color: #f1f3f5;
  min-height: 94vh;
}

.container {
  max-width: 60rem;
}

.sub {
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.write-post {
  width: 70%;
  margin-top: 12px;
  margin-bottom: 12px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  justify-items: start;
}

.write-post button {
  justify-self: start;
  padding-left: 12px;
  width: 100%;
  background-color: #f1f3f5;
  border-radius: 100px;
  font-size: 12px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.small-avt {
  width: 40px;
  border-radius: 50%;
}

.wp-container {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.updated-posts {
  width: 70%;
}