<div class="header">
  <app-nav></app-nav>
</div>
<div class="dashboard-container" (click)="closeModal($event)">
  <div class="container flex-column-center">
    <div class="write-post sub">
      <img
        [src]="
          currentUserProfile?.avatar
            ? 'http://20.244.58.242/images/' + currentUserProfile.avatar
            : 'https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=20&m=1223671392&s=612x612&w=0&h=lGpj2vWAI3WUT1JeJWm1PRoHT3V15_1pdcTn2szdwQ0='
        "
        alt="Ungap profile picture"
        class="small-avt"
      />
      <button class="button" (click)="displayModal($event)">
        What's on your mind?
      </button>
    </div>
    <div class="updated-posts">
      <app-post
        [post]="post"
        *ngFor="let post of posts"
        [date]="displayDate(post.createdDate)"
        [displayDeleteBtn]="true"
        [currentUserId]="currentUserProfile.userId"
        [currentUserAvatar]="currentUserProfile.avatar"
      ></app-post>
    </div>
    <div class="wp-container hidden">
      <app-upload-post
        [avatar]="currentUserProfile?.avatar"
        [fullName]="
          currentUserProfile?.firstName + ' ' + currentUserProfile?.lastName
        "
        [userId]="currentUserProfile?.userId"
      ></app-upload-post>
    </div>
  </div>
</div>
