<div class="reset-wrapper">
  <div class="container reset-container">
    <div class="reset-container-box">
      <div class="border-bottom" style="margin-bottom: 12px">
        <h3 class="reset-h3">Reset Your Password</h3>
      </div>
      <div
        style="padding-bottom: 12px; margin-bottom: 12px"
        class="border-bottom"
      >
        <p class="reset-description">
          How do you want to receive the code to reset your password?
        </p>
        <p class="solution">
          + Send code via email <span>hy.ho@orientsoftware.com</span>
        </p>
      </div>
      <div style="align-self: end">
        <button class="reset-continue-btn reset-button">Continue</button>
      </div>
    </div>
  </div>
</div>
