<div class="post flex-column-center">
  <div class="post-header">
    <img [src]="avatar" alt="Ungap profile picture" class="small-avt" />
    <div>
      <p>
        {{ firstName + " " + lastName }}
        <span>updated a post</span>
      </p>

      <p class="post-date">{{ date }}<span>th</span></p>
    </div>
  </div>
  <p *ngIf="status !== 'undefined'" class="post-status">
    {{ status }}
  </p>
  <div class="post-img-box flex-center">
    <img
      *ngIf="image"
      [src]="'https://localhost:44371/images/' + image"
      alt="Ungap post image"
      class="post-img"
    />
  </div>
  <button
    class="dots-btn button"
    *ngIf="displayDeleteBtn"
    (click)="displayDeleteButton()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="2"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"
      />
    </svg>
  </button>
  <button class="delete-btn btn hidden" #deleteBtn (click)="deletePost()">
    Delete
  </button>
  <div class="like-comment flex-center">
    <div class="like-box flex-center">
      <button class="like-btn button" (click)="likeBtnClick()">
        <i class="fa-solid fa-thumbs-up fa-2x" #likeBtnIcon></i>
      </button>
      <p class="like-counts">{{ totalLikes }} likes</p>
    </div>
    <button class="comment-btn button" (click)="displayComments()">
      <i class="fa-regular fa-comment-dots fa-2x"></i>
    </button>
  </div>
  <div
    class="comments"
    *ngIf="areCommentsDisplayed && this.arrayOfComments.length !== 0"
  >
    <comment
      *ngFor="let comment of arrayOfComments"
      [commentId]="comment.id"
      [text]="comment.text"
      [commentUserId]="comment.userId"
      [postId]="comment.postId"
      [arrayOfComments]="arrayOfComments"
    ></comment>
  </div>
  <div class="comment-box">
    <div class="img-box">
      <img [src]="avatar" class="medium-avt" />
    </div>
    <div class="write-comment">
      <textarea
        placeholder="Leave a comment"
        (input)="getInput($event)"
        name="comment"
        #textarea
      ></textarea>
      <button class="up-btn flex-center" (click)="postComment()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="up-icon icon"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 11l3-3m0 0l3 3m-3-3v8m0-13a9 9 0 110 18 9 9 0 010-18z"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
