<div class="wp">
  <div class="wp-child">
    <div class="wp-header">
      <p class="wp-heading">Create post</p>
      <button class="button">Post</button>
    </div>
    <div class="wp-body">
      <div class="post-header">
        <img [src]="avatar" alt="Ungap profile picture" class="small-avt" />
        <div>
          <p style="font-size: 16px">{{ fullName }}</p>
        </div>
      </div>
      <div style="margin-top: 12px">
        <textarea placeholder="what's on your mind" name="post"></textarea>
      </div>
      <div class="img-upload hidden">
        <img id="output" width="100%" />
      </div>
      <div class="add-box">
        <p>Add to post</p>
        <input
          (change)="loadFile($event)"
          id="add-photo"
          class="form-control"
          type="file"
          id="formFile"
          placeholder="Upload your photo..."
        />
      </div>
    </div>
  </div>
</div>
