<div class="wp">
  <div class="wp-child">
    <div class="wp-header">
      <p class="wp-heading">Create post</p>
      <button (click)="addPost()" class="button">Post</button>
    </div>
    <div class="wp-body">
      <div class="post-header">
        <img
          [src]="
            avatar
              ? 'https://localhost:44371/images/' + avatar
              : 'https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=20&m=1223671392&s=612x612&w=0&h=lGpj2vWAI3WUT1JeJWm1PRoHT3V15_1pdcTn2szdwQ0='
          "
          alt="Ungap profile picture"
          class="small-avt"
        />
        <div>
          <p style="font-size: 16px">{{ fullName }}</p>
        </div>
      </div>
      <div style="margin-top: 12px">
        <textarea
          (input)="getStatus($event)"
          placeholder="what's on your mind"
          name="post"
        ></textarea>
      </div>
      <div class="img-upload hidden">
        <img id="output" width="100%" />
      </div>
      <div class="add-box">
        <p>Add to post</p>
        <input
          (change)="loadFile($event)"
          id="add-photo"
          class="form-control"
          type="file"
          id="formFile"
          placeholder="Upload your photo..."
          accept="image/png, image/jpeg"
        />
      </div>
    </div>
  </div>
</div>
