.app-reset-wrapper {
  background-color: #e9ebee;
  height: 80vh;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-container {
  padding: 12px 0;
  border-radius: 10px;
  max-width: 500px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.reset-container div {
  padding: 0 12px;
}

.h3 {
  font-size: 18px;
}

.description {
  font-size: 14px;
  margin-bottom: 6px;
}

.button {
  cursor: pointer;
  border: none;
  padding: 4px 8px;
  border-radius: 5px;
  margin-right: 12px;
  font-size: 14px;
  font-weight: 600;
  color: #555;
}

.search-btn {
  background-color: #1877f2;
  color: #fff;
}

@media (max-width: 450px) {
  .container {
    max-width: 350px;
  }
}
