<div class="reset-wrapper">
  <div class="container reset-container">
    <div class="reset-container-box">
      <div class="border-bottom" style="margin-bottom: 12px">
        <h3 class="reset-h3">Find Your Account</h3>
      </div>
      <div
        style="padding-bottom: 12px; margin-bottom: 12px"
        class="border-bottom"
      >
        <p class="reset-description">
          Please enter your email address to search for your account
        </p>
        <input
          name="email"
          type="text"
          class="form-control"
          placeholder="Email"
          aria-label="Email"
          aria-describedby="addon-wrapping"
        />
      </div>
      <div style="align-self: end">
        <button class="reset-cancel-btn reset-button">Cancel</button
        ><button class="reset-continue-btn reset-button">Search</button>
      </div>
    </div>
  </div>
</div>
