.app-login-wrapper {
  display: flex;
  height: 100vh;
  align-items: center;
  background-color: #f0f2f5;
}

.app-heading-box {
  padding-right: 40px;
  padding-bottom: 32px;
}

.login-heading {
  font-size: 52px;
  font-weight: 700;
  color: #1877f2;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.login-heading span {
  margin-top: 12px;
  font-size: 24px;
  color: #1f1f1f;
  font-weight: 400;
  display: block;
  text-transform: none;
  letter-spacing: normal;
}

.login-container {
  padding: 0 48px;
}

.login-form {
  background-color: #fff;
  padding: 18px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  width: 100%;
  font-weight: 500;
  font-size: 20px;
}

.forgot-password:link,
.forgot-password:visited {
  text-align: center;
  text-decoration: none;
  margin: 0 0 24px 0;
  font-size: 14px;
}

.forgot-password:hover,
.forgot-password:active {
  text-decoration: underline;
}

.login-create-new {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

.login-create-new button {
  background-color: #00a400;
  border: none;
  font-size: 18px;
  font-weight: 500;
}

.login-create-new button:hover {
  background-color: #3ba526;
}

@media (max-width: 768px) {
  .app-heading-box {
    padding-right: inherit;
  }

  .login-heading {
    text-align: center;
  }

  .login-container {
    padding: 0 32px;
  }
}
