<div class="app-login-wrapper">
  <div class="container login-container">
    <div class="row align-items-center">
      <div class="col-md-7 app-heading-box">
        <h1 class="login-heading">
          ungap
          <span>
            Eliminating the generation gap, location gap and emotional gap among
            people.
          </span>
        </h1>
      </div>
      <div class="col-md-5 login-form">
        <form #loginForm="ngForm" class="row gy-2 border-bottom">
          <div class="col-12 input-group flex-nowrap">
            <input
              name="username"
              [(ngModel)]="model.username"
              (input)="getInput($event, value, 'username')"
              (blur)="blur(value, 'username')"
              [ngClass]="{ 'border-red': value.username === '' }"
              type="text"
              class="form-control padding-12px"
              placeholder="Username"
              aria-label="Username"
              aria-describedby="addon-wrapping"
            />
          </div>
          <div *ngIf="value.username === ''" class="col-12">
            <p class="empty-err">Please enter your username</p>
          </div>
          <div class="col-12 input-group flex-nowrap password-input">
            <input
              #myPassword
              name="password"
              [(ngModel)]="model.password"
              (input)="getInput($event, value, 'password')"
              (blur)="blur(value, 'password')"
              [ngClass]="{ 'border-red': value.password === '' }"
              type="password"
              class="form-control padding-12px"
              placeholder="Password"
              aria-label="Password"
              aria-describedby="addon-wrapping"
            />
            <button
              class="eye-btn"
              *ngIf="value.password"
              (click)="onEyeClick()"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="eye-icon"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                />
              </svg>
            </button>
            <button
              class="eye-btn"
              *ngIf="eyeOff && value.password"
              (click)="onEyeOffClick()"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="eye-icon"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21"
                />
              </svg>
            </button>
          </div>
          <div *ngIf="value.password === ''" class="col-12">
            <p class="empty-err">Please enter your password</p>
          </div>
          <div
            class="col-12"
            *ngIf="errFromAPI && value.password && value.username"
          >
            <p class="empty-err">{{ errFromAPI }}</p>
          </div>
          <div class="col-12 flex-nowrap">
            <button
              [ngClass]="{
                disabled: !value.username || !value.password
              }"
              type="submit"
              class="btn btn-primary mb-3 padding-12px"
              (click)="onSubmitLogin()"
            >
              Log in
            </button>
          </div>
          <a href="reset-password" class="forgot-password">Forgot password?</a>
        </form>
        <div class="login-create-new">
          <button (click)="navigateToRegister()" class="btn-success btn">
            Create a new account
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
