<div class="notification-item">
  <div class="img-box">
    <img
    [src]="userSend?.avatar ? 'https://localhost:44371/images/'+userSend.avatar
    :'https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=20&m=1223671392&s=612x612&w=0&h=lGpj2vWAI3WUT1JeJWm1PRoHT3V15_1pdcTn2szdwQ0='"
      class="noti-img"
    />
  </div>
  <div class="noti-content">
    <p class="noti-status">
      <strong>{{userSend?.firstName + ' ' + userSend?.lastName}}</strong> {{result?.content}}
    </p>
    <!-- <p class="noti-time">15h00 July 14<span>th</span></p> -->
  </div>
</div>
