.notification-item {
  width: 18rem;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  justify-items: center;
  column-gap: 1.2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
  padding: 8px 0;
  margin-bottom: 12px;
}

.noti-img {
  width: 100%;
  border-radius: 50%;
}

.noti-status {
  margin-bottom: 8px;
}

.noti-time {
  font-size: 10px;
  margin-bottom: 0;
}
