.app-register-wrapper {
  background-color: #f0f2f5;
  padding: 12px 0;
}

.register-container {
  display: flex;
}

.h1 {
  font-size: 52px;
  font-weight: 700;
  color: #1877f2;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.form-box {
  max-width: 400px;
}

.form-wrapper {
  background-color: #fff;
  padding: 8px 24px;
  border-radius: 10px;
  row-gap: 12px;
}

.h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.description {
  font-size: 14px;
  color: #777;
  text-align: center;
}
.block {
  display: flex;
  justify-content: center;
}
.row {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}

.gray-label {
  font-size: 14px;
  color: #555;
}

.sex-label {
  margin-bottom: 7px;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}

.register-btn {
  background-color: #42b72a;
  border: none;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s;
}

.register-btn:hover {
  background-color: #3ba526;
}

.btn-cancel {
  background-color: #f1f3f5;
  color: #333;
}

.btn-cancel.btn.register-btn:hover {
  background-color: #e7e8ea;
}

.ask-link:link,
.ask-link:visited {
  text-decoration: none;
  text-align: center;
}

.ask-link:hover,
.ask-link:active {
  text-decoration: underline;
}

@media (max-width: 576px) {
  .intro-wrapper {
    margin-bottom: 0 !important;
  }
}
