<div class="app-register-wrapper">
  <div class="container register-container justify-content-center">
    <div class="row form-box">
      <div class="h1">ungap</div>
      <form class="row form-wrapper">
        <div class="border-bottom mb-3 intro-wrapper">
          <h2 class="h2">Edit your profile</h2>
          <p class="description">Quick and easy.</p>
        </div>
        <div class="row gy-2">
          <div class="col-6">
            <input
              (input)="getInput($event, currentUserProfile, 'firstName')"
              (blur)="blur(currentUserProfile, 'firstName')"
              type="text"
              class="form-control"
              placeholder="First name"
              aria-label="First name"
              aria-describedby="addon-wrapping"
              [ngClass]="{ 'border-red': currentUserProfile?.firstName === '' }"
              [value]="currentUserProfile?.firstName"
            />
          </div>
          <div class="col-6">
            <input
              (input)="getInput($event, currentUserProfile, 'lastName')"
              (blur)="blur(currentUserProfile, 'lastName')"
              [ngClass]="{ 'border-red': currentUserProfile?.lastName === '' }"
              type="text"
              class="form-control"
              placeholder="Last Name"
              aria-label="Last name"
              aria-describedby="addon-wrapping"
              [value]="currentUserProfile?.lastName"
            />
          </div>
          <div class="col-6">
            <p *ngIf="currentUserProfile?.firstName === ''" class="empty-err">
              Please enter your first name
            </p>
          </div>
          <div class="col-6">
            <p *ngIf="currentUserProfile?.lastName === ''" class="empty-err">
              Please enter your last name
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <input
              (input)="getInput($event, currentUserProfile, 'phone')"
              type="tel"
              class="form-control"
              placeholder="Phone number"
              aria-label="Phone number"
              aria-describedby="addon-wrapping"
              [value]="currentUserProfile?.phone"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="birthday" class="gray-label"> Birthday </label>
            <div>
              <p style="display: inline; margin-right: 12px">
                {{ formatDate() }}
              </p>
              <input
                style="display: inline; width: 44px"
                (input)="getInput($event, currentUserProfile, 'dateOfBirth')"
                (blur)="blur(currentUserProfile, 'dateOfBirth')"
                [ngClass]="{
                  'border-red': currentUserProfile?.dateOfBirth === ''
                }"
                type="date"
                class="form-control"
                aria-label="Confirm password"
                aria-describedby="addon-wrapping"
                id="birthday"
                [value]="currentUserProfile?.dateOfBirth"
              />
            </div>
          </div>
          <div class="col-6">
            <label for="sex" class="gray-label sex-label">Gender</label>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-check">
                  <input
                    (change)="getInput($event, currentUserProfile, 'gender')"
                    class="form-check-input"
                    type="radio"
                    name="flexRadioDefault"
                    id="flexRadioDefault1"
                    currentUserProfile="Male"
                    [checked]="currentUserProfile?.gender === 'Male'"
                  />
                  <label class="form-check-label" for="flexRadioDefault1">
                    Male
                  </label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-check">
                  <input
                    (change)="getInput($event, currentUserProfile, 'gender')"
                    class="form-check-input"
                    type="radio"
                    name="flexRadioDefault"
                    id="flexRadioDefault1"
                    currentUserProfile="Female"
                    [checked]="currentUserProfile?.gender === 'Female'"
                  />
                  <label class="form-check-label" for="flexRadioDefault1">
                    Female
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="currentUserProfile?.dateOfBirth === ''" class="col-6">
            <p class="empty-err">Please choose your birthday</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <label for="profile-picture" class="gray-label"
              >Profile photo</label
            >
            <input
              (change)="onFileChanged($event, 'avatar')"
              id="profile-picture"
              class="form-control"
              type="file"
              id="formFile"
              placeholder="Upload your photo..."
            />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <label for="profile-picture" class="gray-label">Cover Photo</label>
            <input
              (change)="onFileChanged($event, 'coverPhoto')"
              id="cover-photo"
              class="form-control"
              type="file"
              id="formFile"
              placeholder="Upload your photo..."
            />
          </div>
        </div>
        <div class="block">
          <div class="row">
            <div class="col-sm-12 btn-wrapper">
              <button (click)="onNoClick()" class="btn-cancel btn register-btn">
                Cancel
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 btn-wrapper">
              <button
                [ngStyle]="{ position: 'relative' }"
                [ngClass]="{
                  spinner: true,
                  disabled:
                    !currentUserProfile?.firstName ||
                    !currentUserProfile?.lastName ||
                    !currentUserProfile?.username ||
                    !currentUserProfile?.dateOfBirth ||
                    !currentUserProfile?.email
                }"
                class="btn-success btn register-btn"
                (click)="onSave()"
              >
                Save
              </button>
            </div>
          </div>
        </div>
        <!-- <div class="row">
            <a href="" class="ask-link">Already have an account?</a>
          </div> -->
      </form>
    </div>
  </div>
</div>
