<div class="reset-wrapper">
  <div class="container reset-container">
    <div class="reset-container-box">
      <div class="border-bottom" style="margin-bottom: 12px">
        <h3 class="h3">Enter security code</h3>
      </div>
      <div
        style="padding-bottom: 12px; margin-bottom: 12px"
        class="border-bottom"
      >
        <p class="reset-description">
          Please check your emails for a message with your code. Your code is 8
          numbers long.
        </p>
        <div class="reset-main-part">
          <input
            type="text"
            class="form-control"
            placeholder="Enter code"
            aria-describedby="addon-wrapping"
          />
          <p class="reset-solution">
            We sent your code to: <span>hy.ho@orientsoftware.com</span>
          </p>
        </div>
      </div>
      <div class="reset-bottom-part">
        <a href="email-validation">Didn't get a code?</a>
        <div>
          <button class="reset-cancel-btn reset-button">Cancel</button>
          <button class="reset-continue-btn reset-button">Continue</button>
        </div>
      </div>
    </div>
  </div>
</div>
