.reset-container-box {
  max-width: 300px;
}

.main-box {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  align-items: center;
  justify-content: center;
}

.solution {
  text-align: center;
}

.tick-icon {
  width: 64px;
  stroke: #1877f2;
}

.back-btn:link,
.back-btn:visited {
  text-decoration: none;
  color: #555;
  font-size: 14px;
  border-radius: 5px;
  font-weight: 500;
  padding: 4px 8px;
  background-color: #e4e6eb;
}
