<div class="reset-wrapper">
  <div class="container reset-container">
    <div class="reset-container-box">
      <div style="padding-bottom: 12px" class="main-box">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="tick-icon icon"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
        <p class="solution">Your password has been changed successfully</p>
      </div>
      <div style="align-self: center">
        <a href="login" class="back-btn"> Back to Login page </a>
      </div>
    </div>
  </div>
</div>
