<div class="reset-wrapper">
  <div class="container reset-container">
    <div class="reset-container-box">
      <div class="border-bottom" style="margin-bottom: 12px">
        <h3 class="reset-h3">Choose a new password</h3>
      </div>
      <div
        style="padding-bottom: 12px; margin-bottom: 12px"
        class="border-bottom"
      >
        <p class="reset-description">
          Create a new password that is at least 6 characters long. A strong
          password has a combination of letters, digits and punctuation marks.
        </p>
        <input
          type="password"
          class="form-control"
          placeholder="New password"
          aria-describedby="addon-wrapping"
        />
      </div>
      <div style="align-self: end">
        <button class="reset-cancel-btn reset-button">Skip</button>
        <button class="reset-continue-btn reset-button">Continue</button>
      </div>
    </div>
  </div>
</div>
