@import "~bootstrap/dist/css/bootstrap.css";

body {
  font-family: "Roboto", sans-serif;
}

.padding-12px {
  padding: 12px;
}

.border-red {
  border: 1px solid red;
}

.empty-err {
  font-size: 14px;
  color: red;
}
.navbar-nav .active {
  border-bottom: 1px solid rgba(0, 0, 0, 0.55);
}

/* RESET PART */
.reset-wrapper {
  background-color: #e9ebee;
  height: 80vh;
  display: flex;
  align-items: center;
}

.reset-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-container-box {
  padding: 12px 0;
  border-radius: 10px;
  max-width: 400px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.reset-container-box div {
  padding: 0 12px;
}

.reset-h3 {
  font-size: 18px;
}

.reset-description {
  font-size: 14px;
  margin-bottom: 6px;
}

.reset-button {
  cursor: pointer;
  border: none;
  padding: 4px 8px;
  border-radius: 5px;
  margin-right: 12px;
  font-size: 14px;
  font-weight: 600;
  color: #555;
}

.reset-continue-btn {
  background-color: #1877f2;
  color: #fff;
}

.reset-main-part {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  column-gap: 12px;
}

.reset-main-part span {
  display: block;
  font-size: 12px;
  color: #555;
}

.reset-main-part p {
  margin-bottom: 0;
}

.reset-bottom-part {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.reset-bottom-part a {
  font-size: 10px;
  text-decoration: none;
}

.reset-bottom-part a:hover {
  text-decoration: underline;
}

.reset-bottom-part div {
  display: flex;
  justify-self: end;
}

@media (max-width: 450px) {
  .reset-container {
    max-width: 350px;
  }

  .reset-description {
    margin-bottom: 12px;
  }

  .reset-main-part {
    grid-template-columns: 1fr;
    row-gap: 6px;
  }

  .reset-form-control {
    width: 90%;
  }

  .reset-main-part span {
    display: inline;
  }

  .reset-bottom-part {
    grid-template-columns: 1fr 2fr;
  }
}
