<app-nav></app-nav>
<div>
  <div class="container">
    <div class="wall-header">
      <div class="header-wrapper">
        <div class="short-intro border-bottom">
          <img
            src="https://scontent.fsgn1-1.fna.fbcdn.net/v/t39.30808-6/279575997_1454118705018799_3915865435304318524_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=dHfOgQ6hMvQAX9XuM5j&tn=XOSMBZp-d50MU4f0&_nc_ht=scontent.fsgn1-1.fna&oh=00_AT8ZyjcRPtzp-oSRJx2dHFj0fEUkpdmIlYParaeCOa9rCg&oe=62AE7682"
            alt="Ungap profile picture"
            class="profile-picture"
          />
          <p>{{accountService.lastName}}</p>
          <button class="edit-profile-btn button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="pen-icon"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
              />
            </svg>
            <span>Edit profile</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wall-feature">
  <div class="container">
    <button class="button border-blue"><span>Posts</span></button>
    <button class="button"><span>Friends</span></button>
    <button class="button"><span>Photos</span></button>
  </div>
</div>
<div class="wall">
  <div class="container">
    <div class="wall-1">
      <div class="introduction sub">
        <h4>Introduction</h4>
        <p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
          <span> {{accountService.userName}} </span>
        </p>
        <p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4"
            />
          </svg>
          <span> {{accountService.email}} </span>
        </p>
        <p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"
            />
          </svg>
          <span style="letter-spacing: 1px">0123456789</span>
        </p>
        <p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21 15.546c-.523 0-1.046.151-1.5.454a2.704 2.704 0 01-3 0 2.704 2.704 0 00-3 0 2.704 2.704 0 01-3 0 2.704 2.704 0 00-3 0 2.704 2.704 0 01-3 0 2.701 2.701 0 00-1.5-.454M9 6v2m3-2v2m3-2v2M9 3h.01M12 3h.01M15 3h.01M21 21v-7a2 2 0 00-2-2H5a2 2 0 00-2 2v7h18zm-3-9v-2a2 2 0 00-2-2H8a2 2 0 00-2 2v2h12z"
            />
          </svg>
          <span>{{accountService.birthDay}}</span>
        </p>
      </div>
      <div class="photos sub">
        <div class="photos-box">
          <h4>Photos</h4>
          <button class="button">See all</button>
        </div>
      </div>
    </div>
    <div class="wall-2">
      <div class="write-post sub">
        <img
          src="https://scontent.fsgn1-1.fna.fbcdn.net/v/t39.30808-6/279575997_1454118705018799_3915865435304318524_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=dHfOgQ6hMvQAX9XuM5j&tn=XOSMBZp-d50MU4f0&_nc_ht=scontent.fsgn1-1.fna&oh=00_AT8ZyjcRPtzp-oSRJx2dHFj0fEUkpdmIlYParaeCOa9rCg&oe=62AE7682"
          alt="Ungap profile picture"
          class="small-avt"
        />
        <button class="button">What's on your mind?</button>
      </div>
      <div class="updated-posts sub">
        <div class="post">
          <div class="post-header">
            <img
              src="https://scontent.fsgn1-1.fna.fbcdn.net/v/t39.30808-6/279575997_1454118705018799_3915865435304318524_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=dHfOgQ6hMvQAX9XuM5j&tn=XOSMBZp-d50MU4f0&_nc_ht=scontent.fsgn1-1.fna&oh=00_AT8ZyjcRPtzp-oSRJx2dHFj0fEUkpdmIlYParaeCOa9rCg&oe=62AE7682"
              alt="Ungap profile picture"
              class="small-avt"
            />
            <div>
              <p> {{accountService.lastName}} <span>updated a post</span></p>
              <p class="post-date">June 15<span>th</span></p>
            </div>
          </div>
          <p class="post-status">
            Eliminating the generation gap, location gap and emotional gap among
            people.
          </p>
          <img
            src="https://scontent-hkg4-1.xx.fbcdn.net/v/t39.30808-6/286217234_1486838955080107_6313107225572333509_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=e3f864&_nc_ohc=yhN7FflamEEAX-C3_u7&tn=XOSMBZp-d50MU4f0&_nc_ht=scontent-hkg4-1.xx&oh=00_AT_OOHGB93u2UFZ3uMK-ED-7IkAw0r_Q5iHVAw4AnmzWWA&oe=62ADC807"
            alt="Ungap post image"
            class="post-img"
          />
        </div>
      </div>
    </div>
  </div>
</div>
