p {
  margin-bottom: 0;
}

.button {
  border: none;
  background-color: transparent;
  font-family: inherit;
}

.border-blue {
  border-bottom: 2px solid #1877f2;
}

.sub {
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.container {
  max-width: 900px;
}

.header-wrapper {
  position: relative;
  height: 320px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  background-position: bottom;
  background-size: cover;
}

.short-intro {
  position: absolute;
  width: 100%;
  bottom: -20%;
  display: flex;
  padding-bottom: 12px;
  padding-left: 52px;
  align-items: end;
  column-gap: 12px;
}

.profile-picture {
  border: 3px solid #fff;
  width: 120px;
  border-radius: 50%;
}

.short-intro p {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.edit-profile-btn {
  position: absolute;
  bottom: 10%;
  border-radius: 5px;
  padding: 6px 12px;
  right: 0;
  display: flex;
  align-items: center;
  column-gap: 5px;
  font-size: 12px;
  font-weight: 500;
  background-color: #1877f2;
  color: #fff;
  transition: all 0.2s;
}

.edit-profile-btn:hover {
  background-color: #3989f3;
}

.pen-icon {
  width: 15px;
}

.wall-feature {
  margin-top: 68px;
}

.wall-feature .container {
  display: flex;
  column-gap: 2px;
}

.wall-feature button {
  font-size: 12px;
  padding: 0;
  color: #555;
  font-weight: 500;
}

.wall-feature button span {
  padding: 8px 16px;
  border-radius: 5px;
  display: block;
}

.wall-feature button:hover span {
  background-color: #f1f3f5;
}

.wall {
  background-color: #e9ebee;
  min-height: 52vh;
}

.wall .container {
  display: grid;
  grid-template-columns: 4fr 6fr;
  column-gap: 12px;
  padding: 12px;
}

h4 {
  font-size: 16px;
  font-weight: 500;
}

.introduction {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-bottom: 12px;
}

.introduction p {
  display: flex;
  align-items: center;
  column-gap: 5px;
  font-size: 12px;
  font-weight: 400;
}

.introduction .icon {
  width: 15px;
  stroke: #777;
}

.photos {
  padding-bottom: 24px;
}

.photos-box {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  justify-items: end;
}

.photos-box h4 {
  justify-self: start;
  margin-bottom: 0;
}

.photos-box button {
  font-size: 12px;
  color: #1877f2;
  padding: 6px 12px;
  border-radius: 5px;
}

.photos-box button:hover {
  background-color: #f1f3f5;
}

.write-post {
  margin-bottom: 12px;
  display: grid;
  grid-template-columns: 1fr 7fr;
  justify-items: start;
}

.write-post button {
  padding-left: 12px;
  width: 100%;
  background-color: #f1f3f5;
  border-radius: 100px;
  font-size: 12px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.small-avt {
  width: 40px;
  border-radius: 50%;
}

@media (max-width: 750px) {
  .photos-box {
    grid-template-columns: 2fr 1fr;
  }
}

@media (max-width: 650px) {
  .header-wrapper {
    height: 260px;
  }

  .short-intro {
    bottom: -25%;
  }
}

@media (max-width: 550px) {
  .wall .container {
    grid-template-columns: 1fr;
  }

  .wall-1 {
    display: flex;
    column-gap: 12px;
    align-items: start;
  }

  .photos {
    margin-bottom: 12px;
    width: 100%;
  }
}

@media (max-width: 450px) {
  .header-wrapper {
    height: 220px;
  }

  .short-intro {
    bottom: -45%;
    padding-bottom: 44px;
  }

  .wall-feature {
    margin-top: 100px;
  }

  .edit-profile-btn {
    font-size: 10px;
  }

  .wall-1 {
    flex-direction: column;
    align-items: stretch;
  }
}

@media (max-width: 400px) {
  .header-wrapper {
    height: 180px;
  }

  .short-intro {
    bottom: -50%;
  }

  .profile-picture {
    width: 100px;
  }
}

.wall-wrapper {
  position: relative;
}

.wp-container {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
